:root {
	--boxWidth: 23vw;
	--boxMarginRight: 10px;
	--primary: white;
	--navHeight: 54px;
}

#ige_feed {
	position: fixed;
	top: var(--navHeight);
	bottom: 0;
	right: 3vw;
	left: 9px;
	left: 1vw;
	max-width: 100%;

	display: none;

	contain: strict;
}

.home + #ige_feed {
	display: block;
}

.ige_virtual {
	padding-top: 10px;

	overflow-y: scroll;
	max-height: 100%;
	height: 100%;
	overflow-anchor: none;

	contain: strict;
}

.ige_virtual_container {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	display: flex;
	/*height: 100%;*/

	/*contain: size style;*/
	contain: style;
}

.sentinel-top,
.sentinel-bottom {
	width: 100%; /* 1px */
	height: 1px;
	contain: strict;
	display: block;
	position: absolute;
	left: 0;
	background-color: red;
}

.sentinel {
	position: absolute;
	pointer-events: none;
	height: 1000px;
	width: 100%;
	visibility: hidden;
	bottom: 0;
	z-index: 9999;
}
.sentinel-start {
	position: absolute;
	pointer-events: none;
	height: 1000px;
	width: 100%;
	visibility: hidden;
	top: 0;
	z-index: 9999;
}
.sentinel-start.disabled,
.sentinel.disabled {
	display: none;
}

.sentinel-top {
	top: 0;
}

.sentinel-bottom {
	bottom: 0;
}

#ige_feed > div > div /* stories */ {
	/*overflow-x: scroll;
	max-width: 100%;*/
}

.ige_post {
	width: var(--boxWidth);
	min-width: var(--boxWidth);
	max-width: var(--boxWidth);
	max-height: calc(100vh + var(--navHeight) * 2);
	margin-right: var(--boxMarginRight);
	margin-bottom: 10px;
	contain: layout style;
	z-index: 0;

	border-radius: 3px;
	border: 1px solid #dbdbdb;
	border: 1px solid rgb(var(--post-border, 219, 219, 219));
	background-color: rgb(var(--post-bg, 255, 255, 255));

	position: relative;

	height: auto;
}

.ige_textarea {
	background: 0 0;
	border: 0;
	color: rgb(var(--textarea, 38, 38, 38));
	display: flex;
	flex-grow: 1;
	font-size: inherit;
	height: 18px;
	max-height: 80px;
	outline: 0;
	padding: 0;
	resize: none;
}

.ige_button {
	align-items: center;
	background: 0 0;
	border: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 8px;
}

.ige_button:disabled {
	opacity: 0.3;
}

.ige_post_video {
	z-index: 1; /* so posts around videos don't get accelerated */
}

.ige_noSpaceBetweenPosts + #ige_feed > .ige_post {
	margin: 0;
	border-bottom: 0;
	border-radius: 0;
}

.ige_noSpaceBetweenPosts + #ige_feed > .ige_post:not(:nth-of-type(4n)) {
	border-right: 0;
}

.ige_header {
	height: 51px;
	contain: strict;
	border-bottom: 1px solid rgb(var(--post-in-border, 239, 239, 239));

	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.ige_picture_container {
	width: 33px;
	height: 33px;
	background-color: rgb(var(--pic-bg, 250, 250, 250));
	border-radius: 50%;
	margin-right: 7px;

	overflow: hidden;
	position: relative;
}

.ige_picture_container-small {
	width: 20px;
	height: 20px;
	margin-right: 3px;
}

.ige_comma::after {
	content: ', ';
}

.full-img {
	height: 100%;
	width: 100%;
}

.img--wrapper {
	display: block;
	position: relative;
	width: 100%;
	contain: layout style;
	overflow: hidden;
}

.img--wrapper > div {
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: transform 200ms ease-out;
}

.img--wrapper > div.active {
	transform: none;
	position: static;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.d-flex {
	display: flex;
}

.f-row {
	flex-direction: row;
}

.a-center {
	align-items: center;
}

.ml-auto {
	margin-left: auto;
}

.f-1-auto {
	flex: 1 0 auto;
}

.text-right {
	text-align: right;
}

.ige_post-content {
	display: flex;
	flex: 1 1 auto;
	overflow-y: auto;
}

.ige_post-text {
	overflow-wrap: break-word;
	max-width: 100%;
	overflow: hidden;
}

.ige_post-comments {
}

.color-inherit {
	color: inherit !important;
}

.ige_footer {
	border-top: 1px solid rgb(var(--post-in-border, 239, 239, 239));
	color: rgb(var(--footer-color, 142, 142, 142));
	font-size: 14px;
	line-height: 18px;
	height: 45px;
	margin-top: auto;
}

.px-12 {
	padding-left: 12px;
	padding-right: 12px;
}

.ige_username_container {
	overflow: hidden;
}

.ige_username {
	color: rgb(var(--anchor-color, 38, 38, 38)) !important;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ige_location {
	color: rgb(var(--anchor-color, 38, 38, 38)) !important;
	line-height: 15px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ige_actions_container {
	z-index: 2;
	contain: strict;
	height: 40px;
}

.ige_actions_container > button:first-child {
	padding-left: 0;
}

.pl-2 {
	padding-left: 0.3em;
}

.as-center {
	align-self: center;
}

.ige_text {
	white-space: break-spaces;
}

.ige_post-content .ige_button {
	padding: 0;
}

.mb-8 {
	margin-bottom: 8px;
}

.mr-1em {
	margin-right: 1em;
}

.d-block {
	display: block;
}

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

.ige_carousel-btn {
	position: absolute;
	top: calc(50% - 30px);
	padding: 0;
}

.ige_carousel-btn--left {
	left: 0;
}

.ige_carousel-btn--right {
	right: 0;
}

.ige_dots {
	contain: content;

	flex-direction: row;
	position: absolute;
	bottom: -1.7em;
	right: 0;
	left: 0;
	text-align: center;
	justify-content: center;

	z-index: 1;
}

.ige_dots--dot {
	width: 6px;
	height: 6px;
	transition: all 0.2s ease-in-out;
	background: rgb(var(--dots-color, 168, 168, 168));
	border-radius: 50%;
}

.ige_dots--dot.active {
	background: rgb(var(--dots-color-active, 0, 149, 246));
}

.ige_dots--dot:not(:last-child) {
	margin-right: 4px;
}

.va-text-top {
	vertical-align: text-top;
}

.ige_playButton {
	width: 1.5em;
	vertical-align: middle;
	position: relative;
	top: -2px;
}

.ige_userIcon {
}

.ige_taggedUser {
	opacity: 0;

	background-color: rgb(0, 0, 0);
	border-radius: 4px;
	position: absolute;
	transform: translate(-50%, 0%);
	font-size: 14px;
	line-height: 36px;
	padding: 0 12px;
	margin-top: 6px;

	translate: opacity 200ms ease-out;

	z-index: 2;
}

.ige_show_tagged > .ige_taggedUser {
	opacity: 1;
}

.ige_post-comments .ige_button {
	position: absolute;
	right: 0;
	top: calc(50% - 6px);
}

.ige_taggedUser::before {
	content: '';
	display: block;

	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-bottom: 5px solid black;

	position: absolute;
	top: -5px;
	left: calc(50% - 5px);
}

.ige_taggedUser > a {
	color: white;
	font-weight: 600;
	text-decoration: none;
}

.ige_post_userIcon {
	background-color: black;
	border-radius: 50%;
	opacity: 0.85;
	padding: 3px;
	width: 25px;
	height: 25px;
	margin: 8px 5px;
	position: absolute;
	bottom: 0;
	left: 0;

	z-index: 2;
}

.ball-pulse-sync > div:nth-child(1) {
	animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
}

.ball-pulse-sync > div:nth-child(2) {
	animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out;
}

.ball-pulse-sync > div:nth-child(3) {
	animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
}

.ball-pulse-sync > div {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 2px;
	border-radius: 100%;
	background-color: #bdbdbd;
	animation-fill-mode: both;
}

.ball-pulse-sync {
	margin-top: 3em;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
}

/** Loading animation */
@keyframes ball-pulse-sync {
	33% {
		transform: translateY(10px);
	}

	66% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

.ige_add_comment {
	display: flex;
	flex-grow: 1;
	align-items: center;
}

.ige_add_comment .ige_button {
	color: rgb(var(--submit-button-color, 0, 149, 246));
}

/*=============================================
								Mac OS Scrollbar
=============================================*/
::-webkit-scrollbar {
	width: 9px;
	border-radius: 100px;
	background-color: rgba(0, 0, 0, 0);
	contain: strict;
	/*transition: background-color 1s linear;*/
}

::-webkit-scrollbar:horizontal {
	height: 9px;
}

/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.07);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb {
	/*transition: background-color 1s linear;*/
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
	min-height: 30px;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 100px;
	background-color: #afafaf;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
	border-radius: 100px;
	background-color: #727272; /* Some darker color when you click it */
}
