:root {
	--boxWidth: 23vw;
	--boxMarginRight: 10px;
	--primary: white;
	--navHeight: 54px;
}

[hidden] {
	display: none; /* as IG sets display: flex everywhere, for whatever reason hidden gets overwrriten */
}

#ige_feed {
	position: fixed;
	top: var(--navHeight);
	right: 3vw;
	bottom: 0;
	left: 9px;
	left: 1vw;
	display: none;
	max-width: 100%;

	contain: strict;
}

.home + #ige_feed {
	display: block;
}

.ige_virtual {
	width: 100%;
	height: 100%;
	max-height: 100%;

	contain: strict;

	overflow-y: scroll;
	overflow-anchor: none;
	backface-visibility: hidden; /** FIXME Scroll performance traded with GPU memory -> better scroll perf */
}

.ige_virtual_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 10px;
	/*height: 100%;*/

	/*contain: size style;*/
	contain: style;
}

.sentinel-top,
.sentinel-bottom {
	position: absolute;
	left: 0;
	display: block;
	width: 1px;
	height: 1px;
	background-color: transparent;
	contain: strict;
}

.sentinel-debug {
	width: 100%;
	height: 10px;
	background-color: red;
}

.sentinel {
	position: absolute;
	bottom: 0;
	z-index: 9999;
	width: 100%;
	height: 1000px;
	visibility: hidden;
	pointer-events: none;
}

.sentinel-start {
	position: absolute;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 1000px;
	visibility: hidden;
	pointer-events: none;
}

.sentinel-start.disabled,
.sentinel.disabled {
	display: none;
}

.sentinel-top {
	top: 0;
}

.sentinel-bottom {
	bottom: 180vh;
}

#ige_feed > div > div /* stories */ {
	/*overflow-x: scroll;
	max-width: 100%;*/
}

.ige_post {
	content-visibility: auto;
	position: relative;
	z-index: 0;
	width: var(--boxWidth);
	min-width: var(--boxWidth);
	max-width: var(--boxWidth);

	height: auto;
	max-height: calc(100vh + var(--navHeight) * 2);
	margin-right: var(--boxMarginRight);
	margin-bottom: 10px;
	background-color: rgb(var(--post-bg, 255, 255, 255));
	border: 1px solid rgb(var(--post-border, 219, 219, 219));

	border-radius: 3px;
	contain: layout style;
}

.ige_textarea {
	display: flex;
	flex-grow: 1;
	height: 18px;
	max-height: 80px;
	padding: 0;
	color: rgb(var(--textarea, 38, 38, 38));
	font-size: inherit;
	background: 0 0;
	border: 0;
	outline: 0;
	resize: none;
}

.ige_button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	background: 0 0;
	border: 0;
	cursor: pointer;
}

.ige_button:disabled {
	opacity: 0.3;
}

.ige_post_video {
	z-index: 3; /* so posts around videos don't get accelerated */
}

.ige_noSpaceBetweenPosts + #ige_feed > .ige_post {
	margin: 0;
	border-bottom: 0;
	border-radius: 0;
}

.ige_noSpaceBetweenPosts + #ige_feed > .ige_post:not(:nth-of-type(4n)) {
	border-right: 0;
}

.ige_header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 51px;
	border-bottom: 1px solid rgb(var(--post-in-border, 239, 239, 239));
	contain: strict;
}

.ige_picture_container {
	position: relative;
	width: 33px;
	height: 33px;
	margin-right: 7px;

	overflow: hidden;
	background-color: rgb(var(--pic-bg, 250, 250, 250));
	border-radius: 50%;
}

.ige_picture_container-small {
	width: 20px;
	height: 20px;
	margin-right: 3px;
}

.ige_comma::after {
	content: ', ';
}

.full-img {
	width: 100%;
	height: 100%;
}

.img--wrapper {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
	contain: layout style;
}

.img--wrapper > div {
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	transition: transform 200ms ease-out;
}

.img--wrapper > div[data-active] {
	position: static;
	transform: translateX(0);
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.d-flex {
	display: flex;
}

.f-row {
	flex-direction: row;
}

.a-center {
	align-items: center;
}

.ml-auto {
	margin-left: auto;
}

.f-1-auto {
	flex: 1 0 auto;
}

.text-right {
	text-align: right;
}

.ige_post-media {
	z-index: 2;
}

.ige_post-content {
	display: flex;
	flex: 1 1 auto;
	overflow-y: auto;
}

.ige_post-text {
	max-width: 100%;
	overflow: hidden;
	overflow-wrap: break-word;
}

.ige_post-comments {
}

.color-inherit {
	color: inherit !important;
}

.ige_footer {
	height: 45px;
	margin-top: auto;
	color: rgb(var(--footer-color, 142, 142, 142));
	font-size: 14px;
	line-height: 18px;
	border-top: 1px solid rgb(var(--post-in-border, 239, 239, 239));
}

.px-12 {
	padding-right: 12px;
	padding-left: 12px;
}

.ige_username_container {
	overflow: hidden;
}

.ige_username {
	overflow: hidden;
	color: rgb(var(--anchor-color, 38, 38, 38)) !important;
	font-weight: 600;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ige_location {
	overflow: hidden;
	color: rgb(var(--anchor-color, 38, 38, 38)) !important;
	font-size: 12px;
	line-height: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ige_actions_container {
	z-index: 3;
	height: 40px;
	/*contain: strict; @fixme */
}

.ige_actions_container > button:first-child {
	padding-left: 0;
}

.pl-2 {
	padding-left: 0.3em;
}

.as-center {
	align-self: center;
}

.ige_text {
	white-space: break-spaces;
}

.ige_post-content .ige_button {
	padding: 0;
}

.mb-8 {
	margin-bottom: 8px;
}

.mr-1em {
	margin-right: 1em;
}

.d-block {
	display: block;
}

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

.ige_carousel-btn {
	position: absolute;
	top: 50%;
	z-index: 2;
	padding: 0;
	transform: translateY(-50%);
}

.ige_carousel-btn--left {
	left: 0;
}

.ige_carousel-btn--right {
	right: 0;
}

.ige_dots {
	position: absolute;
	right: 0;
	bottom: -1.7em;
	left: 0;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	contain: content;
}

.ige_dots--dot {
	width: 6px;
	height: 6px;
	background-color: rgb(var(--dots-color, 168, 168, 168));
	border-radius: 50%;
	transition: background-color 0.2s ease-in-out;
}

.ige_dots--dot[data-active] {
	background-color: rgb(var(--dots-color-active, 0, 149, 246));
}

.ige_dots--dot:not(:last-child) {
	margin-right: 4px;
}

.va-text-top {
	vertical-align: text-top;
}

.ige_playButton {
	position: relative;
	top: -2px;
	width: 1.5em;
	vertical-align: middle;
}

.ige_userIcon {
}

.ige_taggedUser {
	position: absolute;

	z-index: 2;
	margin-top: 6px;
	padding: 0 12px;
	font-size: 14px;
	line-height: 36px;
	background-color: rgb(0, 0, 0);
	border-radius: 4px;
	transform: translate(-50%, 0%);
	opacity: 0;
	transition: opacity 200ms ease-out;
}

.ige_show_tagged > .ige_taggedUser {
	opacity: 1;
	pointer-events: all;
}

.ige_post-comments .ige_button {
	position: absolute;
	top: calc(50% - 6px);
	right: 0;
}

.ige_taggedUser::before {
	position: absolute;
	top: -5px;
	left: calc(50% - 5px);
	display: block;

	width: 0;
	height: 0;
	border-right: 5px solid transparent;

	border-bottom: 5px solid black;
	border-left: 5px solid transparent;
	content: '';
}

.ige_taggedUser > a {
	color: white;
	font-weight: 600;
	text-decoration: none;
}

.ige_post_userIcon {
	position: absolute;
	bottom: 0;
	left: 0;

	z-index: 2;
	width: 25px;
	height: 25px;
	margin: 8px 5px;
	padding: 3px;
	background-color: black;
	border-radius: 50%;
	opacity: 0.85;
}

.ball-pulse-sync {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 45px;
	margin-top: 3em;
	margin-bottom: 3em;
	contain: strict;
}

.ball-pulse-sync > div {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 2px;
	background-color: #bdbdbd;
	border-radius: 100%;
	animation-fill-mode: both;
	contain: strict;
}

.ball-pulse-sync > div:nth-child(1) {
	animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
}

.ball-pulse-sync > div:nth-child(2) {
	animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out;
}

.ball-pulse-sync > div:nth-child(3) {
	animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
}

/** Loading animation */
@keyframes ball-pulse-sync {
	33% {
		transform: translateY(10px);
	}

	66% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

.ige_add_comment {
	display: flex;
	flex-grow: 1;
	align-items: center;
}

.ige_add_comment .ige_button {
	color: rgb(var(--submit-button-color, 0, 149, 246));
}

.text-gray {
	color: rgba(var(--gray, 142, 142, 142), 1) !important;
}

.ige_iframe {
	width: 38vw;
	height: 68vh;
	border-radius: 12px;
}

.modal-full-height {
	width: 93vw;
	max-width: none;
	height: 93vh;
}

.modal-story {
	width: auto;
	max-width: none;
	height: 90vh;
	margin-top: 5vh;
}

/* give the iframe a border-radius */
.modal-story > div {
	width: 29.5vw;
	overflow: hidden;
	border-radius: inherit;
}

.modal-story iframe {
	width: 30vw;
	height: 90vh;
	margin-top: 0;
}

.modal-story > .react-responsive-modal-closeButton {
	right: -6%;
}

.modal-full-height .react-responsive-modal-closeButton {
	right: -2.5%;
}

.react-responsive-modal-overlay {
	z-index: 11 !important;
}

.react-responsive-modal-modal {
	padding: 0;
	border-radius: 12px;
}

.react-responsive-modal-closeButton {
	top: 0;
	right: -5%;
	filter: invert(1);
}

.ige_fade {
	opacity: 0.01;
	animation: fadeIn 0.3s ease-out forwards;
}

.ige_stories {
	width: 92vw;
	max-width: 92vw;
	height: auto;

	margin-top: 1em !important;
	margin-bottom: 1em !important;
	padding: 8px 0 16px;
	overflow-x: hidden;
	overflow-y: hidden;
	border: 1px solid rgb(var(--post-border, 219, 219, 219)) !important;
	contain: layout paint;
	overflow-anchor: none;
}

.ige_stories-heading {
	padding: 4px 8px 12px;
}

.ige_stories_container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.ige_story {
	padding: 0 6px;
}

.ige_story_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: rgba(var(--white, 255, 255, 255), 1);
	border: 0;
	cursor: pointer;
}

.ige_story-img {
	width: 135px;
	height: 240px;
}

.ige_story-avatar {
	position: relative;
	width: 56px;
	height: 56px;
	border-radius: 50%;
}

.ige_story-avatar::before {
	position: absolute;
	top: -6px;
	right: -6px;
	bottom: -6px;
	left: -6px;
	z-index: 1;
	display: block;
	background-image: url(chrome-extension://alahoejmdjackgolkpimcpckgglpmlfe/img/story.png);
	background-size: contain;
	content: '';
}

.ige_story-username {
	z-index: 4;
	display: block;
	margin-top: 8px;
	padding: 0 10px;
	overflow: hidden;
	color: rgba(var(--white, 255, 255, 255), 1);
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	white-space: nowrap;
	text-align: center;
	text-overflow: ellipsis;
}

.br-6 {
	border-radius: 6px;
}

.br-50 {
	border-radius: 50%;
}

.ige_story-avatar_container {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 135px;
	height: 90px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

/*=============================================
								Mac OS Scrollbar
=============================================*/
::-webkit-scrollbar {
	width: 9px;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 100px;
	contain: strict;
	/*transition: background-color 1s linear;*/
}

::-webkit-scrollbar:horizontal {
	height: 9px;
}

/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover,
::-webkit-scrollbar:focus {
	background-color: rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
	min-height: 30px;
	background-color: #afafaf;
	background-clip: padding-box;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
	background-color: #727272; /* Some darker color when you click it */
	border-radius: 100px;
}
