:root {
	--boxHeight: 1045px;
	--maxBoxHeight: 115vh;
	--boxWidth: 23vw;
	--boxMarginRight: 10px;
}

/** Remove width limit */
main > section {
	max-width: none !important;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 1;
}

/** Make the flex box layout row instead of column */
section > div > div {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;

	contain: content;
}

/** Make boxes equaly high and wide */
section > div > div > article {
	min-width: var(--boxWidth);
	max-width: var(--boxWidth);
	max-height: var(--maxBoxHeight);
	margin-right: var(--boxMarginRight) !important;
	margin-bottom: 10px !important;
	z-index: 1;

	contain: content;
}

article > div > ul > li > *:not(button) > span {
	max-height: inherit;
	/*display: block;*/
	overflow: auto;
}
article > div > ul {
	max-height: var(--maxBoxHeight);
	/*flex-grow: 0 !important;*/
	overflow: auto;
}
article > div > section {
	min-height: initial;
}

/** Outer parent of the image */
article > header + div {
	contain: content;
}
article > header + div > div {
	box-shadow: none !important;
}

article > div:nth-of-type(2n) {
	flex-grow: 1;
	flex-shrink: 1;
}

/*=============================================
						Slimmer Post Header
=============================================*/
main:not(.profile) article > header {
	height: 54px !important;
}

div > main:first-child {
	margin-top: 10px !important;
}

div > main:only-child {
	flex-grow: 1;
}

/*=============================================
						Improved Autoload
=============================================*/
section > div > div:not(#rcr-anchor) + div:not(:last-child) {
	width: 1px;
	height: 1px;
	transform: translateY(calc(var(--boxHeight) * -2));
	z-index: 2;
	contain: strict;
}

/** Moves the img over the "prevent right click copy"-element */
div > img {
	z-index: 1;
}

/*=============================================
								Media Controls
=============================================*/
/** Always show media controls when playing */
video::-webkit-media-controls-overlay-enclosure, video[loop]::-webkit-media-controls-enclosure {
	z-index: 3;
}

/** Hide media controls when not playing on home */
main.home video:not([loop])::-webkit-media-controls-enclosure {
	opacity: 0;
}

/** Always show media controls on single posts */
main.post video::-webkit-media-controls-enclosure {
	z-index: 3;
}

/** Makes the multiple videos/images dots visible; Heart animation when db-clicking posts */
div > div + a + div, .coreSpriteLikeAnimationHeart, .coreSpriteSidecarIconLarge, .coreSpriteUserTagIndicator, .coreSpriteVideoIconLarge {
	z-index: 3;
}

/** Move multiple videos/images dots and make them more visible */
main.post td > div {
	transform: translateY(35px);
	background: #9E9E9E !important;
}

/*=============================================
						Mark Videos in the Feed
=============================================*/
a.videoSpritePlayButton + div + div {
	right: initial;
	left: 0;
	opacity: 1;
	contain: content;
}

/** Hide "Click video for audio" */
a.videoSpritePlayButton + div {
	display: none;
}

/*=============================================
										Nav Bar
=============================================*/
nav > div > div > div:nth-of-type(2) {
	transform: translateZ(0);
	height: inherit;
	contain: strict;
}

/** Hide "Open in App" */
nav > div > div > div:last-of-type:not(:only-child) {
	display: none;
}

/*=============================================
										Spinner
=============================================*/
section > div > div:last-child {
	height: 30px;
	z-index: 2;
	contain: strict;
}

/*=============================================
										Toast
=============================================*/
section > footer + div {
	contain: content;
}

/*=============================================
										Post
=============================================*/
/** Enlargen modal */
div[role='dialog'] article, main.post article {
  height: 1045px;
  max-height: 70vh;
}

/** Center the image */
div[role='dialog'] article,
div[role='dialog'] article > div > div,
main:not(.home) main > div > div,
main:not(.home) main > div > div > div,
main:not(.home) article {
	flex-grow: 1;
	justify-content: center;
}

/*=============================================
									Profile
=============================================*/
/** Show likes and so on on hover */
main.profile a:hover > div:last-child {
	z-index: 3;
}

/*=============================================
									Extended
=============================================*/
/** Extended Marker */
.extended--btn__new::after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 4px;
	height: 4px;
	margin: 0 auto;
	border-radius: 2px;
	background: #03A9F4;
	content: '';
}

/*=============================================
						"Chrome IG Story" fixes
=============================================*/
#rcr-anchor {
	justify-content: flex-start;
	overflow: auto;
}

#rcr-anchor > div {
	margin-bottom: 0;
}


/*=============================================
								Mac OS Scrollbar
=============================================*/
::-webkit-scrollbar {
	width: 9px;
	border-radius: 100px;
	background-color: rgba(0,0,0,0);
	/*transition: background-color 1s linear;*/
}
::-webkit-scrollbar:horizontal {
	height: 9px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.07);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb {
	/*transition: background-color 1s linear;*/
}
::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
	min-height: 30px;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 100px;
	background-color: #afafaf;
	background-clip: padding-box;
}
::-webkit-scrollbar-thumb:vertical:active, ::-webkit-scrollbar-thumb:horizontal:active {
	border-radius: 100px;
	background-color: #727272; /* Some darker color when you click it */
}
