:root {
	--boxHeight: 1045px;
	--boxWidth: 23vw;
	--boxMarginRight: 10px;
}

body {
	font-size: 15px !important; /** we're on desktop, okay? */
	overflow-y: unset !important; /** de-opts scrolling */
}

/*----------  Performance  ----------*/
/** Outer parent of the image */
header + div {
	contain: layout style;
}

form > textarea {
	contain: strict;
}

header > a {
	contain: strict;
}

/** Remove width limit */
#mainFeed {
	max-width: none !important;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 1;
	flex-direction: column;
}

/** Make the flex box layout row instead of column */
#mainFeed > div:not(#rcr-anchor) > div > div:first-child > div {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
	contain: layout style;
}

/** Make boxes equaly high and wide */
#mainFeed div > article {
	min-width: var(--boxWidth);
	max-width: var(--boxWidth);
	margin-right: var(--boxMarginRight) !important;
	margin-bottom: 10px !important;
	contain: layout style;
	z-index: 1;
}

/** Moves the img over the "prevent right click copy"-element */
div > img {
	contain: strict;
	z-index: 1;
}

/*=============================================
						Slimmer Post Header
=============================================*/
div[role='dialog'] article > header,
#react-root:not(.profile) article > header {
	height: 50px !important;
	contain: strict;
}

div > main:first-child {
	margin-top: 10px !important;
}

div > main:only-child {
	flex-grow: 1;
}

div[role='dialog'] header + div + div,
.post header + div + div {
	top: 63px !important;
}

/*----------  Improve new post layout  ----------*/

/** Make the comments/description take the space it needs */
#react-root:not(.profile) header + div + div {
	flex: 1 0 auto;
}

#mainFeed header + div + div {
	margin-top: 8px;
	padding-bottom: 4rem; /** Append height of heart / write comment to the bottom */
}

/** Row layout */
div[role='dialog'] header + div + div,
#react-root:not(.profile) header + div + div {
	flex-direction: row;
	flex-wrap: wrap;
	align-content: baseline;
	contain: layout style;
}

/** Views / likes */
div > section + section {
	flex: 9999 0 auto;
	order: 1 !important;
	max-width: 100%;
}

/** Posted date */
div > section + div + div {
	flex: 99999999 0 auto; /* higher than views / likes to push it to the right */
	order: 0 !important;
}

/** Larger timestamp */
div > a > time {
	font-size: 14px !important;
	text-transform: none;
}

/** Grow comments */
header + div + div > div:first-of-type {
	flex-grow: 1;
	order: 2 !important;
	width: 100%;
	max-height: 80%;
	padding-top: 5px !important;
	padding-bottom: 0 !important;
}

/** Heart */
header + div + div > section:first-child {
	position: absolute;
	bottom: 13px;
	background-color: white;
}

/** Center heart */
#mainFeed header + div + div > section:first-child > a {
	margin: auto;
}

/** Hide useless comment icon */
section > a[role='button'] + a[role='button'] {
	display: none;
}

/** Add comment */
header + div + div > section:last-child {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 83%;
	margin-top: 0;
	background-color: white;
}

#mainFeed header + div + div > section:last-child {
	width: 84%;
}

/*=============================================
								Media Controls
=============================================*/
/** Always show media controls when playing */
video::-webkit-media-controls-overlay-enclosure,
video[loop]::-webkit-media-controls-enclosure,
video[loop]::-webkit-media-controls {
	z-index: 3;
}

/** Hide media controls when not playing on home */
#mainFeed video:not([loop])::-webkit-media-controls-enclosure {
	opacity: 0;
}

/** Always show media controls on single posts */
.post video::-webkit-media-controls-enclosure {
	z-index: 3;
}

/** Makes the multiple videos/images dots visible */
/** issues#17 */
div > div + a + div,
div > div + [style='position: static;'] > a,
/** Sprites */ .coreSpriteLikeAnimationHeart,
.coreSpriteSidecarIconLarge,
.coreSpriteUserTagIndicator,
.coreSpriteVideoIconLarge,
.coreSpriteRightChevron,
.coreSpriteLeftChevron {
	z-index: 3;
}

/** Move multiple videos/images dots and make them more visible */
.post td > div {
	background: #9e9e9e !important;
}

/*=============================================
						Mark Videos in the Feed
=============================================*/
a.videoSpritePlayButton + div + div {
	right: initial;
	left: 0;
	opacity: 1;
	contain: content;
}

/** Hide "Click video for audio" */
a.videoSpritePlayButton + div {
	display: none;
}

/*=============================================
										Nav Bar
=============================================*/
nav > div + div > div {
	contain: layout style; /** See issues#16 */
	z-index: 9 !important;
}

/** Hide "Open in App" */
nav > div > div > div:last-of-type:not(:only-child) {
	display: none;
}

/** Search arrow */
nav input + span + div + div > div:first-of-type {
	border: solid 11px #e6e6e6;
}

/*=============================================
					Stories experiment issues#20
=============================================*/
#mainFeed > div:first-child:not(#rcr-anchor) {
	max-width: none !important;
	margin-right: 0 !important;
	float: none !important;
}

#mainFeed > div:first-child:not(#rcr-anchor) + div:last-child {
	/** contain: content; - unsure about side-effects yet */
	position: static !important;
	flex-direction: row !important;
	flex-wrap: wrap !important;
	order: -1 !important;
	width: 100% !important;
	max-width: 100% !important;
	height: auto !important;
	max-height: 150px !important;
	margin-bottom: 0 !important;
}

/** All children */
#mainFeed > div:first-child:not(#rcr-anchor) + div:last-child > div {
	flex: 1 100% !important;
}

#mainFeed > div:first-child:not(#rcr-anchor) + div:last-child > hr {
	display: none !important;
}

/** Owners Story */
#mainFeed > div:first-child:not(#rcr-anchor) + div:last-child > div:first-child {
	flex: 1 auto !important;
	order: 1 !important;
	width: auto !important;
	margin-right: 5px !important;

	/**! @TODO: Temporary */
	display: none;
}

/* Stories / watch all */
#mainFeed > div:first-child:not(#rcr-anchor) + div:last-child > hr:first-of-type + div {
	justify-content: start !important;
	order: -1 !important;
	width: auto !important;
}

/** Other Stories */
#mainFeed > div:first-child:not(#rcr-anchor) + div:last-child > hr:first-of-type + div + div {
	flex: 9999 0px !important;
	flex-direction: row !important;
	flex-wrap: nowrap !important;
	order: 2 !important;
	width: 100% !important;
	max-width: 100% !important;

	height: auto !important;
	padding: 0 0 5px 0 !important;
	overflow-x: auto !important;
	overflow-y: auto !important;
}

/** Other stories container */
#mainFeed > div:first-child:not(#rcr-anchor) + div:last-child > hr:first-of-type + div + div > div {
	flex-direction: row !important;
	flex-wrap: nowrap !important;
	width: 100% !important;
	max-width: 100% !important;
	height: auto !important;
	max-height: 150px !important;
	overflow-x: auto !important;
}

/** Story Items */
#mainFeed > div:first-child:not(#rcr-anchor) + div:last-child > hr:first-of-type + div + div > div > div {
	position: static !important;
	flex-flow: row nowrap !important;
	width: auto !important;
	margin-right: 5px !important;
}

/** Story Items Inner */
#mainFeed > div:first-child:not(#rcr-anchor) + div:last-child > hr:first-of-type + div + div > div > div > a,
#mainFeed > div:first-child:not(#rcr-anchor) + div:last-child > hr:first-of-type + div + div > div > div > div:last-child * {
	width: auto !important;
	max-width: none !important;
}

/** Nav */
/**! @TODO: Temporary solution, best would be moving it down to the loading spinner via absolute positioning */
#mainFeed > div:first-child:not(#rcr-anchor) + div:last-child > hr + div:last-child {
	display: none !important;
}

/*=============================================
										Spinner
=============================================*/
#react-root:not(.profile) #mainFeed > div:not(#rcr-anchor) > div > div:last-child > div,
/** Profile spinner */ .profile main > article > div > div:last-child {
	height: 30px;
	contain: strict;
	z-index: 2;
}

/*=============================================
										Toast
=============================================*/
section > footer + div {
	contain: content;
}

/*=============================================
										Post
=============================================*/
/** Enlargen modal */
div[role='dialog'] article,
.post article {
	min-height: 50vh;
	max-height: 90vh;
	contain: layout style;
}

/** Center the image */
div[role='dialog'] article,
#react-root:not(.home) article {
	flex-grow: 1;
	justify-content: center;
}

/** Improve picture quality */
div > img {
	/* autoprefixer: off */
	image-rendering: -webkit-optimize-contrast;
	/* autoprefixer: on */
}

/*=============================================
									Profile
=============================================*/
/** Show likes and so on on hover */
.profile a:hover > div:last-child {
	z-index: 3;
}

/*=============================================
									Footer
=============================================*/
footer > div {
	max-width: fit-content !important;
}

footer > div > nav {
	margin: auto;
}

/*=============================================
									Extended
=============================================*/
/** Extended Marker */
.extended--btn__new::after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 4px;
	height: 4px;
	margin: 0 auto;
	border-radius: 2px;
	background: #03a9f4;
	content: '';
}

/*=============================================
						"Chrome IG Story" fixes
=============================================*/
#rcr-anchor {
	justify-content: flex-start;
	margin-bottom: -20px;
	overflow: auto;
	contain: content;
}

#rcr-anchor > div {
	margin-bottom: 0;
}

/*=============================================
									Media Querys
=============================================*/

/** 3 column layout on smaller screens */
@media (max-width: 1366px) {
	:root {
		--boxWidth: 30vw;
	}
}

/*=============================================
								Mac OS Scrollbar
=============================================*/
::-webkit-scrollbar {
	width: 9px;
	border-radius: 100px;
	background-color: rgba(0, 0, 0, 0);
	contain: strict;
	/*transition: background-color 1s linear;*/
}

::-webkit-scrollbar:horizontal {
	height: 9px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.07);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb {
	/*transition: background-color 1s linear;*/
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
	min-height: 30px;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 100px;
	background-color: #afafaf;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
	border-radius: 100px;
	background-color: #727272; /* Some darker color when you click it */
}
