/*=============================================
								Night Mode CSS
=============================================*/

:root {
	--blue: #78909c;
	--blue-rgb: 120, 144, 156; /* nice red: 1120, 144, 156; */
	--primary: #212121 !important;
	--primary-rgb: 33, 33, 33;
	--text: #cacaca;
	--light: #484848;
	--dark: #111;
	--bg: #111;
	--white: #111;
	--secondary: #757575;
	--secondary-light: #a4a4a4;
	--secondary-text: #c5c5c5;
	--post-border: var(--primary-rgb);
	--post-bg: var(--primary-rgb);
	--textarea: var(--primary-rgb);
	--post-in-border: var(--primary-rgb);
	--pic-bg: var(--primary-rgb);
	--anchor-color: var(--blue-rgb);
	--footer-color: var(--primary-rgb);
	--submit-button-color: var(--blue-rgb);
}

/*=============================================
									Feed
=============================================*/

/* Body */
body,
.dms > section > div,
.dms > section > div *,
section > main,
section > main *:not(canvas):not([class*='Sprite']):not(video):not([role='button']) {
	color: var(--text) !important;
	background-color: var(--bg) !important;
}

section > nav > div > div,
.dms > section > div > div:first-child /* nav in DMs */,
.dms > section > div > div:first-child * /* nav in DMs */,
section > footer,
div[role='dialog'],
main > section > div:first-child:not(#rcr-anchor) ~ div:last-child > div:first-child + div {
	color: var(--text) !important;
	background-color: var(--primary) !important;
}

.dms > section > div > div:first-child input /* nav in DMs */,
.dms > section > div > div:first-child input + div /* nav in DMs */,
nav input,
nav input + div {
	color: var(--text) !important;
	background-color: var(--primary) !important;
}

li span {
	color: var(--secondary-text) !important;
}

.profile a:hover > div:last-child,
.profile a:hover > div:last-child ul,
.profile a:hover > div:last-child li,
.profile a:hover > div:last-child li span,
.profile a:focus > div:last-child,
.profile a:focus > div:last-child ul,
.profile a:focus > div:last-child li,
.profile a:focus > div:last-child li span {
	background-color: rgba(0, 0, 0, 0.3) !important;
}

/** Hue Rotation 100% - Important: This has a drastic performance impact. Don't over-use! */
[id^='mount']:not(.dms) [class*='Sprite'],
main > section > div:first-child:not(#rcr-anchor) ~ div:last-child > hr:first-of-type + div + div::after /** Stories after "shadow" **/ {
	filter: invert(100%) hue-rotate(180deg); /* 60%, no hue rotation before */
	mix-blend-mode: screen;
}

svg {
	fill: var(--text) !important;
}

/** Hue Rotation 60%, easier on the eyes - Important: This has a drastic performance impact. Don't over-use! */
a[href='/'] /* logo */ {
	filter: invert(60%) hue-rotate(180deg); /* 60%, no hue rotation before */
	mix-blend-mode: screen;
}

a,
button > div[role='button'] + div span /* Stories */ {
	color: var(--blue) !important;
}

time,
div > section + section > a /* likes/views */ {
	color: var(--secondary-light) !important;
}

/* Header of post */
[id^='mount'] > section > main > section > div > div > div > article,
/* Description/comments/comment input */
[id^='mount']:not(.profile) header + div + div {
	background: var(--primary);
}

/* Stories: "Stories" */
[id^='mount'] > section > main > section > div > div > span,
/* Stories: time */
[id^='mount'] > section > main > section > div > div > div > div > a > div > div > time,
[id^='mount'] > section > main > section > div > div > div > article > div > div,
/* Comments: input */
[id^='mount'] > section > main > section > div > div > div > article > div > section > form > textarea {
	color: var(--secondary);
}

/* No borders: around post and in header of post */
[id^='mount'] > section > main > section > div > div > div > article,
[id^='mount'] > section > main > section > div > div > div > article > header,
/* above like button and comment input */
[id^='mount'] > section > main > section > div > div > div > article > div > section,
main > section > div:first-child:not(#rcr-anchor) ~ div:last-child > div:first-child + div /* Stories */ {
	border: none;
}

/*=============================================
									Profile
=============================================*/

/* Username */
[id^='mount'] > section > main > article > header > section > div > h1,
/* Follow button */
[id^='mount'] > section > main > article > header > section > div > span > span > button,
/* Posts, followers, following */
[id^='mount'] > section > main > article > header > section > ul,
[id^='mount'] > section > main > article > header > section > ul > li > span > span,
[id^='mount'] > section > main > article > header > section > ul > li > a > span,
/* Description */
[id^='mount'] > section > main > article > header > section > div,
/* Suggested: usernames */
[id^='mount'] > section > main > article > div > div > div > div > div > ul > li > div > div > div > a {
	color: var(--secondary);
}

/* 3 dots next to follow button */
body > div > div > div > div > ul > li > button {
	color: var(--secondary) !important;
	background: var(--dark) !important;
}

/* Followed by */
[id^='mount'] > section > main > article > header > section > div > span > a {
	color: var(--blue);
}

/* Suggested */
[id^='mount'] > section > main > article > div {
	background-color: var(--primary);
	border: none;
}

[id^='mount'] > section > main > article > div > div > div > div > div > ul > li > div > div {
	background: var(--light);
	border: none;
}

/*=============================================
									Viewer (popup)
=============================================*/

/* Header, comments, ... */
body > div > div > div > div > article {
	background-color: var(--primary);
}

/* Header: username */
body > div > div > div > div > article > header > div > div > div > a,
/* Header: little dot */
body > div > div > div > div > article > header > div > div > div > span,
/* Header: follow button */
body > div > div > div > div > article > header > div > div > div > span > button,
/* Header: location */
body > div > div > div > div > article > header > div > div > a,
/* Header: time */
body > div > div > div > div > article > div > div > a > time,
/* Header: likes */
body > div > div > div > div > article > div > section > div > a > span,
body > div > div > div> div > article > div > section > div > a,
/* Comments: usernames */
body > div > div > div > div > article > div > div > ul > li > a,
body > div > div > div > div > article > div> div > ul > li > span,
/* Comments: input */
body > div > div > div > div > article > div > section > form > textarea {
	color: var(--secondary) !important;
}

/* Comments: tagged users */
body > div > div > div > div > article > div > div > ul > li > span > a {
	color: var(--blue) !important;
}

/* No borders below header and comments */
body > div > div > div > div > article > header,
body > div > div > div > div > article > div > section {
	border: none !important;
}

/*=============================================
									Viewer (separate page)
=============================================*/

/* Header, comments, ... */
[id^='mount'] > section > main > div > div > article {
	background-color: var(--primary);
}

/* Header: username */
[id^='mount'] > section > main > div > div > article > header > div > div > div > a,
/* Header: little dot */
[id^='mount'] > section > main > div > div > article > header > div > div > div > span,
/* Header: follow button */
[id^='mount'] > section > main > div > div > article > header > div > div > div > span > button,
/* Header: location */
[id^='mount'] > section > main > div > div > article > header > div > div > a,
/* Header: time */
[id^='mount'] > section > main > div > div > article > div > div > a > time,
/* Header: likes */
[id^='mount'] > section > main > div > div > article > div > section > div > a,
/* Comments: usernames */
[id^='mount'] > section > main > div > div > article > div > div > ul > li > a,
[id^='mount'] > section > main > div > div > article > div > div > ul > li > span > span,
/* Comments: input */
[id^='mount'] > section > main > div > div > article > div > section > form > textarea {
	color: var(--secondary) !important;
}

/* Comments: tagged users */
[id^='mount'] > section > main > div > div > article > div > div > ul > li > span > a {
	color: var(--blue) !important;
}

/* No borders around post, below header and comments */
[id^='mount'] > section > main > div > div > article,
[id^='mount'] > section > main > div > div > article > header,
[id^='mount'] > section > main > div > div > article > div > section {
	border: none;
}

nav input,
nav input + div {
	border: 1px solid var(--dark) !important;
}

div[role='dialog'] > div > div + div {
	background-color: transparent !important;
}

/*=============================================
									DMs (separate page)
=============================================*/

.dms > section > div > div:first-child > div /* nav in DMs */ {
	height: 53px; /* display border */
}

.dms > section > div > div:last-child > div > div:first-child > div:first-child > div:first-child > div {
	height: 59px; /* display border */
}

[id^='mount'].dms a[href='/'],
[id^='mount'].dms a[href='/'] * {
	background-color: unset !important;
}
