/*=============================================
								Night Mode CSS
=============================================*/

:root {
	--blue: #78909c;
	--primary: #212121;
	--text: #bdbdbd;
	--light: #484848;
	--dark: #000;
	--secondary: #757575;
	--secondary-light: #a4a4a4;
	--secondary-text: #c5c5c5;
}

/*=============================================
									Feed
=============================================*/

/* Body */
body,
/* Navbar */
section > nav > div > div,
/* Main */
section > main,
section > main *:not(canvas):not([class*='Sprite']):not(video):not([role="button"]),
/* Footer */
section > footer,
div[role='dialog'],
main > section > div:first-child:not(#rcr-anchor) ~ div:last-child > div:first-child + div /* Stories */,
nav input,
nav input + div {
	background-color: var(--dark) !important;
	color: var(--text) !important;
}

li span {
	color: var(--secondary-text) !important;
}

/** Hue Rotation 100% - Important: This has a drastic performance impact. Don't over-use! */
[class*='Sprite'],
main > section > div:first-child:not(#rcr-anchor) ~ div:last-child > hr:first-of-type + div + div::after /** Stories after "shadow" **/ {
	filter: invert(100%) hue-rotate(180deg); /* 60%, no hue rotation before */
	mix-blend-mode: screen;
}

/** Hue Rotation 60%, easier on the eyes - Important: This has a drastic performance impact. Don't over-use! */
a[href='/'] /* logo */ {
	filter: invert(60%) hue-rotate(180deg); /* 60%, no hue rotation before */
	mix-blend-mode: screen;
}

a,
button > div[role='button'] + div span /* Stories */ {
	color: var(--blue) !important;
}

time,
div > section + section > a /* likes/views */ {
	color: var(--secondary-light) !important;
}

/* Header of post */
#react-root > section > main > section > div > div > div > article,
/* Description/comments/comment input */
#react-root:not(.profile) header + div + div {
	background: var(--primary);
}

/* Stories: "Stories" */
#react-root > section > main > section > div > div > span,
/* Stories: time */
#react-root > section > main > section > div > div > div > div > a > div > div > time,
#react-root > section > main > section > div > div > div > article > div > div,
/* Comments: input */
#react-root > section > main > section > div > div > div > article > div > section > form > textarea {
	color: var(--secondary);
}

/* No borders: around post and in header of post */
#react-root > section > main > section > div > div > div > article,
#react-root > section > main > section > div > div > div > article > header,
/* above like button and comment input */
#react-root > section > main > section > div > div > div > article > div > section,
main > section > div:first-child:not(#rcr-anchor) ~ div:last-child > div:first-child + div /* Stories */ {
	border: none;
}

/*=============================================
									Profile
=============================================*/

/* Username */
#react-root > section > main > article > header > section > div > h1,
/* Follow button */
#react-root > section > main > article > header > section > div > span > span > button,
/* Posts, followers, following */
#react-root > section > main > article > header > section > ul,
#react-root > section > main > article > header > section > ul > li > span > span,
#react-root > section > main > article > header > section > ul > li > a > span,
/* Description */
#react-root > section > main > article > header > section > div,
/* Suggested: usernames */
#react-root > section > main > article > div > div > div > div > div > ul > li > div > div > div > a {
	color: var(--secondary);
}

/* 3 dots next to follow button */
body > div > div > div > div > ul > li > button {
	background: var(--dark) !important;
	color: var(--secondary) !important;
}

/* Followed by */
#react-root > section > main > article > header > section > div > span > a {
	color: var(--blue);
}

/* Suggested */
#react-root > section > main > article > div {
	border: none;
	background-color: var(--primary);
}

#react-root
> section
> main
> article
> div
> div
> div
> div
> div
> ul
> li
> div
> div {
	border: none;
	background: var(--light);
}

/*=============================================
									Viewer (popup)
=============================================*/

/* Header, comments, ... */
body > div > div > div > div > article {
	background-color: var(--primary);
}

/* Header: username */
body > div > div > div > div > article > header > div > div > div > a,
/* Header: little dot */
body > div > div > div > div > article > header > div > div > div > span,
/* Header: follow button */
body > div > div > div > div > article > header > div > div > div > span > button,
/* Header: location */
body > div > div > div > div > article > header > div > div > a,
/* Header: time */
body > div > div > div > div > article > div > div > a > time,
/* Header: likes */
body > div > div > div > div > article > div > section > div > a > span,
body > div > div > div> div > article > div > section > div > a,

/* Comments: usernames */
body > div > div > div > div > article > div > div > ul > li > a,
body > div > div > div > div > article > div> div > ul > li > span,
/* Comments: input */
body > div > div > div > div > article > div > section > form > textarea {
	color: var(--secondary) !important;
}

/* Comments: tagged users */
body > div > div > div > div > article > div > div > ul > li > span > a {
	color: var(--blue) !important;
}

/* No borders below header and comments */
body > div > div > div > div > article > header,
body > div > div > div > div > article > div > section {
	border: none !important;
}

/*=============================================
									Viewer (separate page)
=============================================*/

/* Header, comments, ... */
#react-root > section > main > div > div > article {
	background-color: var(--primary);
}

/* Header: username */
#react-root > section > main > div > div > article > header > div > div > div > a,
/* Header: little dot */
#react-root > section > main > div > div > article > header > div > div > div > span,
/* Header: follow button */
#react-root > section > main > div > div > article > header > div > div > div > span > button,
/* Header: location */
#react-root > section > main > div > div > article > header > div > div > a,
/* Header: time */
#react-root > section > main > div > div > article > div > div > a > time,
/* Header: likes */
#react-root > section > main > div > div > article > div > section > div > a,

/* Comments: usernames */
#react-root > section > main > div > div > article > div > div > ul > li > a,
#react-root > section > main > div > div > article > div > div > ul > li > span > span,
/* Comments: input */
#react-root > section > main > div > div > article > div > section > form > textarea {
	color: var(--secondary) !important;
}

/* Comments: tagged users */
#react-root
> section
> main
> div
> div
> article
> div
> div
> ul
> li
> span
> a {
	color: var(--blue) !important;
}

/* No borders around post, below header and comments */
#react-root > section > main > div > div > article,
#react-root > section > main > div > div > article > header,
#react-root > section > main > div > div > article > div > section {
	border: none;
}

nav input,
nav input + div {
	border: 1px solid var(--dark) !important;
}

div[role='dialog'] > div > div + div {
	background-color: transparent !important;
}
