/** Make the post as big as possible. */
main > div > div, main > div > div > div, article, article > div {
	flex-grow: 1;
}

/** Center the image. */
article > div, article > div > div {
	justify-content: center;
}

/** Moves the img over the "prevent right click copy"-element */
div > img {
	z-index:  1;
}

/** Always show media controls */
video::-webkit-media-controls-overlay-enclosure, video::-webkit-media-controls-enclosure {
	z-index: 3;
}

/** Makes the multiple videos/images dots visible; Heart animation when db-clicking posts */
div > div + a + div, div > .coreSpriteLikeAnimationHeart, div > .coreSpriteSidecarIconLarge {
	z-index: 3;
}

.coreSpriteUserTagIndicator {
	z-index: 2;
}

td > div {
	transform: translateY(35px);
	background: #9E9E9E !important;
}

/** Mark videos in the feed */
a.videoSpritePlayButton + div + div {
	opacity: 1;
	left: 0;
	right: initial;
	contain: content;
}

/** Hide "Click video for audio" */
a.videoSpritePlayButton + div {
	display: none;
}
