:root {
	/* Video Icon */
	--spriteUrl: url("/static/sprites/core/5e53b4.png");
	--spritePosition:	-264px -223px;
}

/** Make the post as big as possible. */
main > div > div, main > div > div > div, article, article > div {
	flex-grow: 1;
}

/** Center the image. */
article > div, article > div > div {
	justify-content: center;
}

/** Moves the img over the "prevent right click copy"-element */
div > img {
	z-index:  1;
}

/** Always show media controls */
video::-webkit-media-controls-overlay-enclosure, video[loop]::-webkit-media-controls-enclosure {
	z-index: 3;
}

/** Makes the multiple videos/images dots visible; Heart animation when db-clicking posts */
div > div + a + div, div > .coreSpriteLikeAnimationHeart, div > .coreSpriteSidecarIconLarge {
	z-index: 3;
}

td > div {
	background: #9E9E9E !important;
	transform: translateY(20px);
}

/** Mark videos in the feed */
article div > div + a[role="button"]:not(.coreSpriteRightChevron) + div::before  {
	background-image: var(--spriteUrl);
	background-position: var(--spritePosition);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	top: 0;
	content: "";
}
