/* purgecss start ignore */
:root {
	--boxHeight: 1045px;
	--maxBoxHeight: 115vh;
	--boxWidth: 23vw;
	--boxMarginRight: 10px;
}

.profile-pic {
	width: 30px;
	height: 30px;
}

.card-text {
	white-space: pre-wrap;
	word-wrap: break-word;
}

header {
	height: 47px;
	min-height: 47px;
	contain: strict;
}

.nav-link i {
	position: relative;
	top: 5px;
	left: -3px;
}

main {
	margin: 0 15px;
}

nav,
.card-deck {
	contain: layout style;
}

.card-deck {
	position: relative;
}

.card {
	min-width: var(--boxWidth);
	max-width: var(--boxWidth);
	max-height: var(--maxBoxHeight);
	margin-right: var(--boxMarginRight) !important;
	margin-bottom: 10px !important;
	margin-left: var(--boxMarginRight) !important;

	contain: layout style;
	z-index: 1;

	animation: fadeIn 200ms;
	animation-iteration-count: 1;
}

.card-footer {
	padding: 5px;
	background-color: initial;
}

.grow-0 {
	flex-grow: 0;
}

.grow-1 {
	flex-grow: 1;
}

.overflow-auto {
	overflow: auto;
}

.sentinel {
	position: absolute;
	bottom: var(--boxHeight);
	width: 1px;
	height: 1px;
	transform: translateY(calc(var(--boxHeight) * -2));

	contain: strict;
	z-index: 2;
}

.liked {
	color: #d9534f;
}

.action--btn,
.action--btn:hover,
.action--btn:active,
.action--btn:focus {
	color: inherit !important;
	font-size: 1.4em;
	text-decoration: none;
}

.post--carousel {
	position: relative;
}

.post--carousel i {
	vertical-align: middle;
}

.post--carousel > .arrow {
	position: absolute;
	top: 0;
	top: 45%;
	padding: 8px;
	transition: opacity ease-in-out 200ms;
	border-radius: 50px;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	opacity: 0;
	contain: content;
	z-index: 2;
}

.post--carousel:hover > .arrow {
	opacity: 1;
	will-change: opacity;
}

.post--carousel > .arrow--left {
	position: absolute;
	left: 0;
}

.post--carousel > .arrow--right {
	right: 0;
}

.dots {
	margin-bottom: -1rem;
	contain: content;
}

.dots--dot {
	width: 10px;
	height: 10px;
	transition: background-color cubic-bezier(0.22, 0.61, 0.36, 1) 400ms;
	border: 1px solid #9e9e9e;
	border-radius: 50px;
	background-color: white;
}

.dots--dot.active {
	background-color: #9e9e9e;
}

img {
	display: block;
	text-align: center;
	/* autoprefixer: off */
	image-rendering: -webkit-optimize-contrast;
}

img::before {
	color: rgb(100, 100, 100);
	font-family: 'Material Icons';
	font-size: 17px;
	content: 'image';
	vertical-align: top;
}

img[src=''] {
	visibility: hidden;
}

.img--wrapper {
	display: block;
	position: relative;
	width: 100%;
	contain: layout style;
}

.img--placeholder {
	height: 0;
	padding-bottom: 66.67%;
}

.img--placeholder > img {
	position: absolute;
	width: 100%;
}

#logo {
	height: 46px;
}

#backToTop {
	display: flex;
	position: fixed;
	right: 20px;
	bottom: 20px;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 35px;
	background: black;
	text-decoration: none;
	opacity: 0.5;
	z-index: 3;
	will-change: opacity;
}

#backToTop i {
	color: #fff;
	font-size: 19px;
}

#backToTop:hover {
	opacity: 1;
}

.fadeOut {
	animation: fadeOut 5s !important;
	animation-play-state: paused;
}

.ball-pulse-sync > div:nth-child(1) {
	animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
}

.ball-pulse-sync > div:nth-child(2) {
	animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out;
}

.ball-pulse-sync > div:nth-child(3) {
	animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
}

.ball-pulse-sync > div {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 2px;
	border-radius: 100%;
	background-color: #bdbdbd;
	animation-fill-mode: both;
}

.ball-pulse-sync {
	margin-top: 10px;
}

/** Loading animation */
@keyframes ball-pulse-sync {
	33% {
		transform: translateY(10px);
	}

	66% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

input[type='checkbox'] {
	position: relative;
	width: 13px;
	height: 13px;
	vertical-align: middle;
}

input[type='checkbox'],
input[type='radio'] {
	margin: 0 1px 0 0;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	border-color: rgba(0, 0, 0, 0.25);
	outline: none;
	background-image: linear-gradient(rgb(237, 237, 237) 38%, rgb(222, 222, 222));
	color: rgb(68, 68, 68);
	font: inherit;
	text-shadow: rgb(240, 240, 240) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
	/* autoprefixer: off */
	-webkit-appearance: none;
	border-image: initial;
}

input[type='checkbox']:checked::before {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAQAAAADpb+tAAAAZ0lEQVR4AWNAA2xAiAXEM8xiMEAXVGJYz7AZCFEkmBi6wYKtEC4/gxqY9gILrmYQhwiXMWxkiAVyVoOFfSCCpkAmCK4Fk+1QA4GqekECUAMkka0KY9gIFvZDd5oawwyGBqACdIDqOwAQzBnTWnnU+gAAAABJRU5ErkJggg==);
	background-size: 100% 100%;
	content: '';
	user-select: none;
}

input[type='text'],
input[type='number'] {
	display: inline;
	width: auto !important;
}

.btn {
	vertical-align: unset;
}

.star {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAQAAADI+WwIAAAAY0lEQVR42mOAAWM24xvGPDAeQjjc+L9xDqbwMaDwbWNmGDfK+A9QAAkC+eEgiRDjn6iCMB3eSDqiEObyIwnrIoRdgdyfxouMvwHpCoRwNdDNukBa0XiX8WGEsLcxJ5wdAnIkAO/0NprFngtJAAAAAElFTkSuQmCC);
}

/** Mac OS Scrollbar */
::-webkit-scrollbar {
	width: 9px;
	border-radius: 100px;
	background-color: rgba(0, 0, 0, 0);
	/*transition: background-color 1s linear;*/
}

::-webkit-scrollbar:horizontal {
	height: 9px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.07);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb {
	/*transition: background-color 1s linear;*/
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
	min-height: 30px;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 100px;
	background-color: #afafaf;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
	border-radius: 100px;
	background-color: #727272; /* Some darker color when you click it */
}

/* purgecss end ignore */
