#react-root > section > main > section {
	margin-left: 10px;
	margin-right: 10px;
	max-width: none;
}

main > section > div > div {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

/** Improve auto load */
section > div > div:last-of-type {
	transform: translateY(-208vh);
}

div > div > article {
	min-width: 400px;
	max-width: 400px;
	margin-right: 20px !important;
	max-height: 1045px;
	margin-bottom: 10px !important;
	contain: content;
}

article > div > ul > li > *:not(button) > span {
	max-height: inherit;
	display: block;
	overflow: auto;
}
article > div > ul {
	/*flex-grow: 0 !important;*/
	overflow: auto;
	max-height: 450px;
}
article > div > section {
	min-height: initial;
}

/** Always show media controls */
video::-webkit-media-controls, div > .coreSpriteLikeAnimationHeart, div > .coreSpriteSidecarIconLarge {
	z-index:  10;
}

/** Moves the img over the "prevent right click copy"-element */
div > img {
	z-index:  1;
}

/** Accelerate nav bar */
nav > div > div > div:nth-of-type(2) {
	transform: translateZ(0);
	contain: content;
}

/** Mark videos in the feed */
article div > div + a[role="button"]:not(.coreSpriteRightPaginationArrow) + div::before  {
	background-image: url("/static/sprites/core/f8e8ab.png");
	background-position: -264px -211px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	top: 0;
	content: "";
}

article > div:nth-of-type(2n) {
	min-height: 325px;
	flex-grow: 1;
}

::-webkit-scrollbar {
	width: 9px;
	background-color: rgba(0,0,0,0);
	border-radius: 100px;
	/*transition: background-color 1s linear;*/
}
::-webkit-scrollbar:horizontal {
	height: 9px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.07);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb {
	/*transition: background-color 1s linear;*/
}
::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
	background-color: #afafaf;
	border-radius: 100px;
	background-clip: padding-box;
	border: 2px solid rgba(0, 0, 0, 0);
	min-height: 30px;
}
::-webkit-scrollbar-thumb:vertical:active,  ::-webkit-scrollbar-thumb:horizontal:active {
	background-color: #727272; /* Some darker color when you click it */
	border-radius: 100px;
}