:root {
	--boxHeight: 1045px;
	--maxBoxHeight: 115vh;
	--boxWidth: 23vw;
	--boxMarginRight: 10px;
}

/** Remove width limit */
main > section {
	margin: 0 !important;
	padding: 0 !important;
	max-width: none !important;
	z-index: 1;
}

/** Make the flex box layout row instead of column */
section > div > div {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	contain: content;
}

/** Make boxes equaly height and width */
div > div > article {
	min-width: var(--boxWidth);
	max-width: var(--boxWidth);
	max-height: var(--maxBoxHeight);
	margin-right: var(--boxMarginRight) !important;
	margin-bottom: 10px !important;

	contain: content;
	z-index: 1;
}

article > div > ul > li > *:not(button) > span {
	max-height: inherit;
	display: block;
	overflow: auto;
}
article > div > ul {
	/*flex-grow: 0 !important;*/
	overflow: auto;
	max-height: var(--maxBoxHeight);
}
article > div > section {
	min-height: initial;
}

/** Outer parent of the image */
article > header + div {
	contain: content;
}
article > header + div > div {
	box-shadow: none !important;
}

article > div:nth-of-type(2n) {
	flex-grow: 1;
	flex-shrink: 1;
}

/** Improve auto load */
section > div > div:nth-of-type(3) {
	transform: translateY(calc(var(--boxHeight) * -2));
	z-index: 2;
	width: 100%;
	height: 5px;
}

/** Moves the img over the "prevent right click copy"-element */
div > img {
	z-index:  1;
}

/** Always show media controls */
video::-webkit-media-controls-overlay-enclosure, video[loop]::-webkit-media-controls-enclosure, div > .coreSpriteLikeAnimationHeart, div > .coreSpriteSidecarIconLarge {
	z-index: 3;
}

/** Mark videos in the feed */
article div > div + a[role="button"]:not(.coreSpriteRightChevron) + div::before  {
	background-image: url("/static/sprites/core/f8e8ab.png");
	background-position: -264px -211px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	top: 0;
	content: "";
}

/** Accelerate nav bar */
nav > div > div > div:nth-of-type(2) {
	transform: translateZ(0);
	contain: content;
}

/** Make "Chrome IG Story" play nicely */
section > div > div:first-child {
	margin-bottom: 10px;
	overflow: auto;
}
section > div > div:first-child > div {
	margin-bottom: 0;
}
section > div > div:first-child {
	justify-content: flex-start;
}

/** Mac OS Scrollbar */
::-webkit-scrollbar {
	width: 9px;
	background-color: rgba(0,0,0,0);
	border-radius: 100px;
	/*transition: background-color 1s linear;*/
}
::-webkit-scrollbar:horizontal {
	height: 9px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.07);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb {
	/*transition: background-color 1s linear;*/
}
::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
	background-color: #afafaf;
	border-radius: 100px;
	background-clip: padding-box;
	border: 2px solid rgba(0, 0, 0, 0);
	min-height: 30px;
}
::-webkit-scrollbar-thumb:vertical:active,  ::-webkit-scrollbar-thumb:horizontal:active {
	background-color: #727272; /* Some darker color when you click it */
	border-radius: 100px;
}