<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
	<link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link rel="shortcut icon" type="image/png" href="img/icon-128.png">
</head>
<body>
	<style>
		:root {
			--boxHeight: 1045px;
			--maxBoxHeight: 115vh;
			--boxWidth: 23vw;
			--boxMarginRight: 10px;
		}

		.profile-pic {
			width: 30px;
			height: 30px;
		}

		.card-text {
			word-wrap: break-word;
			white-space: pre-wrap;
		}

		header {
			height: 54px;
		}

		article {
			min-width: var(--boxWidth);
			max-width: var(--boxWidth);
			max-height: var(--maxBoxHeight);
			contain: content;
			z-index: 1;
			margin-right: var(--boxMarginRight);
			margin-bottom: 10px;
		}

		.grow-0 {
			flex-grow: 0;
		}

		.grow-1 {
			flex-grow: 1;
		}

		.overflow-auto {
			overflow: auto;
		}

		.card-deck {
			position: relative;
		}

		.sentinel {
			width: 1px;
			height: 1px;
			position: absolute;
			bottom: var(--boxHeight);
			transform: translateY(calc(var(--boxHeight) * -2));

			contain: strict;
			z-index: 2;
		}

		.card-footer {
			background-color: initial;
			padding: 5px;
		}

		.liked {
			color: #d9534f;
		}

		/** Mac OS Scrollbar */
		::-webkit-scrollbar {
			width: 9px;
			border-radius: 100px;
			background-color: rgba(0,0,0,0);
			/*transition: background-color 1s linear;*/
		}
		::-webkit-scrollbar:horizontal {
			height: 9px;
		}
		/* hover effect for both scrollbar area, and scrollbar 'thumb' */
		::-webkit-scrollbar:hover {
			background-color: rgba(0, 0, 0, 0.07);
		}

		/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
		::-webkit-scrollbar-thumb {
			/*transition: background-color 1s linear;*/
		}
		::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
			min-height: 30px;
			border: 2px solid rgba(0, 0, 0, 0);
			border-radius: 100px;
			background-color: #afafaf;
			background-clip: padding-box;
		}
		::-webkit-scrollbar-thumb:vertical:active,  ::-webkit-scrollbar-thumb:horizontal:active {
			border-radius: 100px;
			background-color: #727272; /* Some darker color when you click it */
		}
	</style>
</body>
</html>