<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
	<link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link rel="shortcut icon" type="image/png" href="img/icon-128.png">
	<!-- <link rel="preload" as="style" href="style.css" onload="this.rel='stylesheet'"> -->
</head>
<body>
	<%= htmlWebpackPlugin.options.ssr({
		url: '/'
	}) %>

	<style>
		:root {
			--boxHeight: 1045px;
			--maxBoxHeight: 115vh;
			--boxWidth: 23vw;
			--boxMarginRight: 10px;
		}

		.profile-pic {
			width: 30px;
			height: 30px;
		}

		.card-text {
			word-wrap: break-word;
			white-space: pre-wrap;
		}

		header {
			height: 54px;
		}

		article {
			min-width: var(--boxWidth);
			max-width: var(--boxWidth);
			max-height: var(--maxBoxHeight);
			contain: content;
			z-index: 1;
			margin-right: var(--boxMarginRight);
			margin-bottom: 10px;
		}

		.grow-0 {
			flex-grow: 0;
		}

		.grow-1 {
			flex-grow: 1;
		}

		.overflow-auto {
			overflow: auto;
		}

		.card-deck {
			position: relative;
		}

		.sentinel {
			width: 1px;
			height: 1px;
			position: absolute;
			bottom: var(--boxHeight);
			transform: translateY(calc(var(--boxHeight) * -2));

			contain: strict;
			z-index: 2;
		}

		.card-footer {
			background-color: initial;
			padding: 5px;
		}

		.liked {
			color: #d9534f;
		}

		.action--btn, .action--btn:hover, .action--btn:active, .action--btn:focus {
			color: inherit !important;
			text-decoration: none;
			font-size: 1.4em;
		}

		.saved {
			display: none;
		}

		.post--carousel {
			position: relative;
		}

		.post--carousel i {
			vertical-align: middle;
		}

		.post--carousel > .arrow {
			position: absolute;
			top: 0;
			color: white;
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 50px;
			opacity: 0;
			padding: 8px;
			transition: opacity ease-in-out 200ms;
			z-index: 2;
			top: 45%;
			contain: content;
		}

		.post--carousel:hover > .arrow {
			opacity: 1;
			will-change: opacity;
		}

		.post--carousel > .arrow--left {
			position: absolute;
			left: 0;
		}

		.post--carousel > .arrow--right {
			right: 0;
		}

		.dots--dot {
			width: 10px;
			height: 10px;
			background-color: white;
			border-radius: 50px;
			border: 1px solid #9E9E9E;
			transition: background-color cubic-bezier(0.22, 0.61, 0.36, 1) 400ms;
		}

		.dots--dot.active {
			background-color: #9E9E9E;
		}

		img {
			image-rendering: -webkit-optimize-contrast;
		}

		/** Mac OS Scrollbar */
		::-webkit-scrollbar {
			width: 9px;
			border-radius: 100px;
			background-color: rgba(0,0,0,0);
			/*transition: background-color 1s linear;*/
		}
		::-webkit-scrollbar:horizontal {
			height: 9px;
		}
		/* hover effect for both scrollbar area, and scrollbar 'thumb' */
		::-webkit-scrollbar:hover {
			background-color: rgba(0, 0, 0, 0.07);
		}

		/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
		::-webkit-scrollbar-thumb {
			/*transition: background-color 1s linear;*/
		}
		::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
			min-height: 30px;
			border: 2px solid rgba(0, 0, 0, 0);
			border-radius: 100px;
			background-color: #afafaf;
			background-clip: padding-box;
		}
		::-webkit-scrollbar-thumb:vertical:active,  ::-webkit-scrollbar-thumb:horizontal:active {
			border-radius: 100px;
			background-color: #727272; /* Some darker color when you click it */
		}
	</style>
</body>
</html>