<!DOCTYPE html>
<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous" />
		<link rel="preload" as="style" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<link rel="preload" as="style" href="main.css" />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
		<link rel="shortcut icon" type="image/png" href="img/icon-128.png" />
	</head>
	<body>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<link rel="stylesheet" href="main.css" />
		<div id="react-root">
			<%= htmlWebpackPlugin.options.ssr({ url: '/' }) %>
		</div>
	</body>
</html>
