main > div > div > article {
	min-height: 70vh;
}

/** Moves the img over the "prevent right click copy"-element */
div > img {
	z-index:  1;
}

/** Always show media controls */
video::-webkit-media-controls {
	z-index:  10;
}

/** Makes the multiple videos/images dots visible; Heart animation when db-clicking posts */
div > div + a + div, div > .coreSpriteLikeAnimationHeart, div > .coreSpriteSidecarIconLarge {
	z-index: 10;
}

td > div {
	background: #9E9E9E;
}

/** Mark videos in the feed */
article div > div + a[role="button"]:not(.coreSpriteRightPaginationArrow) + div::before  {
	background-image: url("/static/sprites/core/f8e8ab.png");
	background-position: -264px -211px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	top: 0;
	content: "";
}
